[include]
  path = .gitconfig.local

[ghq]
  root = ~/ghq

[core]
  editor = vim
  pager = less
  excludesfile = ~/.gitignore.base
  autocrlf = false
  safecrlf = true
  precomposeunicode = true

[i18n]
  commitencoding = UTF-8

[credential]
  helper = osxkeychain

[color]
  ui = true

[alias]
  log = log --date=local
  br = branch -v
  co = checkout
  st = status

[filter "lfs"]
  lean = git-lfs clean -- %f
  mudge = git-lfs smudge -- %f
  rocess = git-lfs filter-process
  equired = true
