" IdeaVIMがエミュレーション可能なプラグイン
" REF: https://github.com/JetBrains/ideavim#emulated-vim-plugins
set surround
" set multiple-cursors

" IdeaVIMがサポートしているオプション
" REF: https://github.com/JetBrains/ideavim/blob/master/doc/set-commands.md
set clipboard=unnamed
" set digraph
" set gdefault
" set history
set hlsearch
set ignorecase
set iskeyword+=-_
set incsearch
set matchpairs+=<:>
" set nrformats
" set number
" set relativenumber
" set scroll
" set scrolljump
set scrolloff=0
" set selection
set noshowmode
" set sidescroll
" set sidescrolloff
set smartcase
" set timeout
" set timeoutlen
" set undolevels
" set viminfo
" set visualbell
set wrapscan

" <C-J>を各モードでエスケープにマッピング
vnoremap <C-J> <Esc>
onoremap <C-J> <Esc>
inoremap <C-J> <Esc>
cnoremap <C-J> <C-C>
xnoremap <C-J> <Esc>
snoremap <C-J> <Esc>
lnoremap <C-J> <Esc>

" mapmode-nvo
noremap j gj
noremap k gk
noremap L g_
noremap H ^

" mapmode-n
nnoremap <silent> <C-O> :<C-U>action Back<CR>
nnoremap <silent> <C-I> :<C-U>action Forward<CR>
nnoremap <silent> <Backspace> :<C-U>action Back<CR>
nnoremap <silent> <S-Backspace> :<C-U>action Forward<CR>
nnoremap <silent> <C-H> :<C-U>action PreviousTab<CR>
nnoremap <silent> <C-L> :<C-U>action NextTab<CR>
nnoremap K :<C-U>action QuickJavaDoc<CR>
nnoremap <silent> <Space>r :<C-U>action Run<CR>
nnoremap <silent> <Space>d :<C-U>action Debug<CR>
nnoremap <silent> S :<C-U>action RenameElement<CR>
nnoremap <silent> <Space><Space> :<C-U>action SaveAll<CR>
nnoremap <C-Up> <C-A>
nnoremap <C-Down> <C-X>
nnoremap Q q
nnoremap <silent> q :<C-U>close<CR>
nnoremap n nzz
nnoremap N Nzz

" mapmode-v
vnoremap > >gv
vnoremap < <gv
vnoremap ) t)
vnoremap ( t(
vnoremap q <Nop>
vnoremap qq <Nop>

" mapmode-i
inoremap <C-L> <Right>
inoremap <C-H> <Left>
inoremap <C-CR> <Esc>o
inoremap <silent> <C-O> <C-O>:action CodeCompletion<CR>

